$primary1 : #121212;
$primary2 :#929292;
$primary3 : #F07635;
$primary4 : #fff;

@mixin flex($justify-content: normal, $align-items: normal, $direction: row){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin text-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}