@import "../variables.scss";

.footerBody {
  padding: 20px 40px;
  background-color: $primary1;
  @include flex(space-between, center);
  .leftside {
    @include flex(space-between, center);
    .logo {
      cursor: pointer;
      width: 100px;
    }
    .useFulLinks {
      @include flex(space-between, center);
      gap: 20px;
      margin-left: 60px;
      .mens,
      .womens,
      .kids {
        .link {
          cursor: pointer;
          text-decoration: none;
          color: $primary4;
          @include text-style(14px, 200, 14px);
          transition-timing-function: ease-in;
          transition: 0.5s;
          &:hover {
            color: $primary3;
          }
        }
      }
    }
  }
  .rightside {
    .developer {
      cursor: pointer;
      text-decoration: none;
      color: $primary4;
      @include text-style(14px, 200, 14px);
      transition-timing-function: ease-in;
      transition: 0.5s;
      &:hover {
        color: $primary3;
      }
    }
  }
}

@media (max-width: 768px) {
  .footerBody {
    @include flex(center, center, column);
    .rightside {
      margin-left: auto;
      margin-top: 10px;
      .developer {
        @include text-style(10px, 200, 11px);
      }
    }
  }
}
