@import "../variables.scss";

.orderCard {
  padding: 25px;
  border-radius: 20px;
  .orderCartTitle {
    margin-bottom: 30px;
    text-align: start;
    @include text-style(40px, 600, 52px);
  }
  .orderList {
    .orderContent {
      padding: 20px 0px;
      @include flex(flex-start, flex-start, column);
      margin: 20px 0px 40px;
      max-width: 600px;
      .orderdate {
        color: rgba($color: $primary1, $alpha: .5);
        @include text-style(15px, 400, 15px);
      }
      .orderId {
        color: rgba($color: $primary3, $alpha: .7);
      }
      .orderItems {
        color: rgba($color: $primary1, $alpha: .5);
        @include flex(flex-start, center);
        .cartImage {
          width: 100px;
          margin-right: 20px;
        }
        .cartBody {
          text-align: start;
          .productName {
            cursor: pointer;
            margin-bottom: 10px;
            @include text-style(16px, 600, 15px);
            a {
              color: $primary1;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .productSize {
            @include text-style(12px, 400, 15px);
          }
          .productQty {
            @include text-style(12px, 400, 15px);
          }
        }
      }
      .cartremovebutton {
        margin-left: 30px;
      }
    }
  }
}