@import "../variables.scss";

.shoeCarouselWrapper {
  position: relative;
  .title {
    margin-bottom: 15px;
    color: $primary1;
    text-align: left;
  }
  .leftslide {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    left: 0px;
    bottom: 48%;
    transition-timing-function: ease-in;
    transition: 0.5s;
    &:hover {
      color: $primary3;
    }
  }
  .rightslide {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: -2px;
    bottom: 48%;
    transition-timing-function: ease-in;
    transition: 0.5s;
    &:hover {
      color: $primary3;
    }
  }
  .shoeRows {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    .productWrapper {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 40px;
      transition-timing-function: ease;
      transition: 0.3s;
      border-radius: 20px;
      .imgCart {
        position: relative;
        .shoeimg {
          border-radius: 20px;
          pointer-events: auto;
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(5px);
          object-fit: cover;
          width: 308px;
        }
        .favIcon {
          cursor: pointer;
          pointer-events: auto;
          top: 20px;
          right: 20px;
          position: absolute;
          .MuiSvgIcon-root {
            color: $primary3;
          }
        }
      }
      .shoedetails {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        color: $primary1;
        .desc {
          .productname,
          .division {
            text-align: left;
          }
          .productname {
            @include text-style(18px, 600, 19px);
          }
          .division {
            color: rgba($color: $primary1, $alpha: 0.5);
            margin-top: 5px;
            @include text-style(15px, 400, 16px);
          }
        }
        .price {
          color: $primary3;
          @include text-style(18px, 600, 19px);
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .shoeCarouselWrapper {
    margin: 80px 40px;
    .title {
      @include text-style(40px, 600, 41px);
    }
    .shoeRows {
      padding: 40px;
    }
    .shoeRows::-webkit-scrollbar {
      display: none;
    }
    .productWrapper {
      &:hover {
        box-shadow: 0 4px 30px rgba($color: $primary3, $alpha: 0.15);
        transform: scale(1.09);
      }
    }
  }
}

@media (max-width: 768px) {
  .shoeCarouselWrapper {
    margin: 80px 30px;
    .title {
      @include text-style(40px, 600, 42px);
    }
    .leftslide,
    .rightslide {
      display: none;
    }
    .shoeRows {
      padding: 20px;
      .productWrapper {
        .imgCart {
          .shoeimg {
            width: 200px;
          }
        }
      }
    }
  }
}

@keyframes cartanimation {
  from {
    width: 40px;
  }
  to {
    width: 105px;
  }
}

@keyframes cartanimationhide {
  from {
    width: 100px;
  }
  to {
    width: 40px;
  }
}

@keyframes cartbuttonanim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@keyframes cartbuttonanimhide {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}
