@import "../variables.scss";

.productWrapper {
  margin: 40px;
  height: 100%;
  .productFirstfold {
    position: relative;
    z-index: 1;
    margin-left: auto;
    height: max-content;
    @include flex(center, flex-start);
    .productDetails {
      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          @include flex(flex-start, center, row);
          gap: 10px;
          margin-bottom: 10px;
          color: $primary1;
          @include text-style(13px, 400, 13px);
          .tick {
            color: rgba($color: $primary3, $alpha: 1);
          }
        }
      }
    }
    .productImg {
      border-radius: 20px;
    }
    .productDescription {
      text-align: start;
      color: $primary1;
      .productTitle {
        .productType {
          margin-bottom: 5px;
          color: rgba($color: $primary1, $alpha: 0.8);
          @include text-style(15px, 400, 16px);
        }
      }
      .productBody {
        .productPrice {
          margin-bottom: 10px;
        }
        .productRating {
          margin-bottom: 20px;
          color: $primary3;
        }
        .productSizes {
          .sizeTitle {
            color: rgba($color: $primary1, $alpha: 0.5);
            @include text-style(15px, 400, 18px);
            margin-bottom: 10px;
          }
          .sizeList {
            @include flex();
            gap: 5px;
            flex-wrap: wrap;
            margin-bottom: 20px;
            .sizeBox {
              cursor: pointer;
              @include flex(center, center);
              // border: 1px solid $primary1;
              width: 40px;
              height: 40px;
              transition-timing-function: ease-in;
              transition: 0.5s;
              &:hover {
                background-color: $primary1;
                color: $primary4;
              }
            }
            .sizeBox.active {
              background-color: $primary1;
              color: $primary4;
            }
          }
        }
        .productButtons {
          @include flex(flex-start, center);
          gap: 10px;
          .buyNow {
            cursor: pointer;
            @include flex(center, center);
            width: max-content;
            height: 40px;
            text-transform: none;
            padding: 10px 30px;
            box-shadow: none;
            // border: 1px solid $primary1;
            border-radius: 10px;
            background-color: white;
            color: $primary1;
            transition-timing-function: ease-in;
            transition: 0.5s;
            &:hover {
              background-color: $primary1;
              color: $primary4;
            }
          }
        }
      }
    }
  }
  .productSecondfold {   
    .shoeDescription {
      margin-top: 20px;
      text-align: start;
      .descBody {
        color: rgba($color: $primary1, $alpha: 0.7);
        @include text-style(15px, 400, 19px);
        padding: 10px 0px;
      }
    }
  }
  .productThirdfold {
    margin-top: 100px;
  }
}

@media (min-width: 767px) {
  .productWrapper {
    margin: 30px;
    .productFirstfold {
      padding: 0px 40px;
      .productDetails {
        width: 20%;
        padding: 10px;
        margin-right: 10px;
      }
      .productImg {
        width: 36%;
        height: 400px;
        object-fit: contain;
        margin-right: 40px;
      }
      .productDescription {
        max-height: 550px;
        padding: 20px 55px;
        max-width: 45%;
        @include flex(space-between, flex-start, column);
        .productTitle {
          margin-bottom: 80px;
          .productName {
            max-width: 350px;
            @include text-style(35px, 400, 38px);
          }
        }
        .productBody {
          .productPrice {
            @include text-style(40px, 400, 41px);
          }
        }
      }
    }
    .productSecondfold {
      padding: 30px 40px;
      .shoeDescription {
        width: 600px;
        .descTitle {
          @include text-style(35px, 600, 52px);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productWrapper {
    margin: 30px;
    .productFirstfold {
      padding: 0px 10px;
      flex-direction: column;
      .productDetails {
        margin-top: 20px;
      }
      .productImg {
        margin-bottom: 20px;
        width: 300px;
        object-fit: contain;
      }
      .productDescription {
        .productTitle {
          margin-bottom: 40px;
          .productName {
            @include text-style(30px, 600, 32px);
          }
        }
        .productBody {
          .productPrice {
            @include text-style(40px, 600, 42px);
          }
        }
      }
    }
    .productSecondfold {
      padding: 0px 10px;
      .shoeDescription {
        .descTitle {
          @include text-style(30px, 600, 32px);
        }
        .descBody {
          width: 300px;
        }
      }
    }
    .productThirdfold {
      .shoeCarouselWrapper {
        margin: 0px 10px;
      }
    }
  }
}
