@import "../variables.scss";

.userProfileWrapper {
  @include flex(flex-start, flex-start, column);
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  text-transform: none !important;
  font-weight: 400 !important;
}

.MuiButtonBase-root-MuiTab-root  {
  text-transform: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $primary3 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: $primary3 !important;
}

.css-19kzrtu {
  padding: 0px !important;
}


@media (min-width: 767px) {
  .userProfileWrapper {
    margin-top: 40px;
    width: 85%;
    margin-left: auto;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    margin-right: 70px !important;
    @include text-style(18px !important, 600, 20px)
  }
}

@media (max-width: 768px) {
  .userProfileWrapper {
    padding: 0px 20px;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    margin-right: 2% !important;
    @include text-style(15px !important, 600, 16px)
  }
}
